/* reset di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/cork.png);
}
/* =============== header =============== */
header {
  background: url('../img/wall.png');
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header h1 {
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: 600;
  font-size: 60px;
  color: #000;
  margin-bottom: 15px;
}

/* =============== griglie flex =============== */
.photo-wall .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* =============== card =============== */
.card-wrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
}

.card {
  border-radius: 0;
  border: 13px solid #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

/* =============== foto =============== */
.card .photo {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* =============== pin =============== */
.pin {
  position: absolute;               
  left: 50%; 
  transform: translate( -50%, -50%);
  width: 35px;
  height: 35px;
  z-index: 2;
}

/* ============== didascalia =============== */
.caption {
  padding: 12px 16px;
}

.caption p {
  margin: 0;
  font-family: 'Edu Tas Beginner', sans-serif;
  font-style: italic;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bolder;
  line-height: 18px;
  text-transform: uppercase;
}
.caption time, .caption .date {
  display: block;              
  font-family: 'Sometype Mono', monospace;
  font-size: 17px;  
  font-weight: 500;                         
  color: #666;                
  margin-top: 5px;                         
}